[FirmwareVersion]
index = 0
enable = true
timeout = 5
name = Firmware_check

[NAND]
index = 1
enable = true
timeout = 5
name = Image_check

[Test1]
index = 2
enable = true
timeout = 20

[Test2]
index = 3
enable = true
timeout = 10

[Test3]
index = 4
enable = true
timeout = 10

[Test4]
index = 5
enable = true
timeout = 10

[Test5]
index = 6
enable = true
timeout = 10

[Test6]
index = 7
enable = true
timeout = 10

